{{!-- partial for all registries view --}}
<article>
    <div>

        <p> Registry name: {{title}} </p>
        <p> Owner: {{user.username}} </p>
        <p>
            {{#each categories}}
            Category: {{category_name}}
            {{/each}}
        </p>
    </div>
</article>