 <footer class="footer-home">
    <div class="content">
      <p class="mt-5 has-text-centered">
        MyRegistry - All Stores, One Registry <a class="has-text-black" href="http://opensource.org/licenses/mit-license.php">MIT</a>. </p>
        
      </p>
    </div>
  </footer> 