 <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MyRegistry</strong>
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
  </footer> 