<nav>
  <div class="logo">
    <h2>MyRegistry</h2>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>

      {{#if logged}}
      <li><a href="#">My Profile</a></li>
      {{/if}}

      {{#if logged}}
      <li> <button id="logout" type="submit">Logout</button> </li>
      {{else}}
      <li><a href="/login" id="login-redirect">Login</a></li>
      <li><a href="/signup" id="signup-redirect">Sign up</a></li>
      {{/if}}

    </ul>
  </div>
</nav>

{{#if logged}}
<script src="/javascript/logout.js"></script>
{{/if}}