 <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item logo1">
        <div>MyRegistry</div>
      </div>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu" id="navbarMenu">
      <div class="navbar-end">
        <a href="/" class="navbar-item">
          Home
        </a>
        <a href="/about" class="navbar-item">
              About
            </a>
            <a href="/contact" class="navbar-item">
              Contact
            </a>
        {{#if logged}}
        <a href="/user/profile" class="navbar-item">
          My Profile
        </a>
        {{/if}}
      </div>
        <div class="navbar-item">
          <div class="buttons">
            {{#if logged}}
            <a class="button btn" id="logout">
              Logout
            </a>
            {{else}}
            <a href="/login" class="button btn" id="login-redirect">
              Log in
            </a>
            <a href="/signup" class="button btn" id="signup-redirect">
              Sign up
            </a>
            {{/if}}
          </div>
      </div>
    </div>
  </nav>

{{#if logged}}
<script src="/javascript/logout.js"></script>
{{/if}}
<script src="/javascript/navbar.js"></script>