<nav>
  <div class="logo">
    <h2>MyRegistry</h2>
  </div>
  <div class="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
     
      
        <li><button id="login-redirect">Login</button></li>
        <li><button id="signup-redirect" type="submit">Sign up</button></li>
   
    </ul>
  </div>
</nav>



<script src="/javascript/redirect.js"></script>


