<article>
    <div>
        <p>
            {{title}}
    </p>
    {{!-- <p>
        {{user.username}}
    </p> --}}
    <p>
        {{#each categories}}
        {{categories.category_name}}
        {{/each}}
    </p>
    </div>
    <div></div>
</article>