<article>
    <div>

        <p> {{this.title}} </p>
        <p> {{this.user.username}} </p>
        <p>
            {{#each this.categories}}
            {{category_name}}
            {{/each}}
        </p>
    </div>

</article>