<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyRegistry</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
 
<body>
<nav class="navbar">
    <div class="logo navbar-start">
        <h2>MyRegistry</h2>
    </div>
 <div class="navbar-end">
        <div class="navbar-item">
            {{#if logged}}
  <button id="logout" class="btn-no-style">Logout</button>
  {{else}}
      <a href="/login">Login</a>
       {{/if}}
 </nav>
      <main>
           {{#if logged}}
          <a href="/categories">Categories</a>
           {{/if}}
      {{{ body }}}
    </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MyRegistry</strong>
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
  </footer> 
  {{#if logged}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>
</html>