<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Registry</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prata&family=Style+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/slick.css">

</head>
 
<body>
<nav>
    <div class="logo">
        <h2>MyRegistry</h2>
    </div>
    <div class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          
  
           {{#if logged}}
           <li>
  <button id="logout" type="submit">Logout</button>
  </li>
  {{else}}

    <li><button id="login-redirect">Login</button></li>
      <li><button id="signup-redirect" type="submit">Sign up</button></li>
       {{/if}}
        </ul>
    </div>
</nav>
      <main>
           {{#if logged}}
          <a href="/categories">Categories</a>
           {{/if}}
      {{{ body }}}
    </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MyRegistry</strong>
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. 
      </p>
    </div>
  </footer> 
  {{#if logged}}
<script src="/javascript/logout.js"></script>
{{/if}}

<script src="https://kit.fontawesome.com/542d56e2f0.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascript/slick.js"></script>
  <script src="/javascript/script.js"></script>

</body>

</body>
</html>