<form action="" class="form2">
  <p id="cardschoice">About Us</p>
  <p>
    My Registry was created to somplify gift registry process for all your
    celbration. Weddings, Baby Showers, any Wishlist, Secret Santa or any other
    ocasion, My Registry is a one stop to create the list of gifts you need and
    want.
  </p>

</form>