<form action="" class="form2">
  <p id="cardschoice">About Us</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus at ullam
    vel, officiis impedit voluptatem ut perferendis est quam itaque. Consequatur
    obcaecati nihil alias temporibus voluptatem, assumenda reprehenderit natus
    et!</p>

</form>