<form action="" class="form2">
  <p id="cardschoice">About Us</p>
  <p>
    <br>
    My Registry was created to somplify gift registry process for all your
    celbration. Weddings, Baby Showers, any Wishlist, Secret Santa or any other
    ocasion, My Registry is a one stop to create the list of gifts you need and
    want.
 <br>
<br>
    As a My Registry user you no longer need to decide between different stores
    where you want to create a registry, you can create a list of all items you
    want across the internet all in one place.
 <br>
<br>
    Your guests will follow the link you posted on My Registry and can input
    your shipping address you provided as a part af creating the registry
    process. My Registry provides a separate experience for those with baby
    registries, wedding registries, and wish lists to ensure that all
    communications are tailored to each member's needs and interests. Want to
    create separate gift lists for multiple occasions or more than one child? No
    problem—they can all be set up under one convenient account.
    <br>
  </p>

</form>
