<div class="panel" style="margin-top:100px;">
    <p class="panel-heading">
        All registries
    </p>
    <div class="panel-block has-addons is-centered">
        <p class="control has-icons-left is-expanded">
            <input class="input" id="reg-search" type="text" placeholder="Search">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
        <div class="control">
            <button type="submit" class="button is-primary" id="reg-search-btn">Search</button>
        </div>
    </div>