<form class="form2">
  <p id="cardschoice" class="centered">What would you like to create?</p>
  <div class="columns">
    {{#each chooseCategory}}
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <a href="/{{category_name}}/new-registry/" class=""><img src="../images/{{category_name}}-card.jpg" alt="Wedding bands"></a>
          </figure>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</form>