<div id="cardschoice">
  <p>Contact Us</p>
  </div>

</form>

<div class="image-container">
               
    <img src="./images/customer-support-banner.jpg">
    <div class="text-container">
     <div class="contact-us">
                <h2>Contact us with any questions regarding your registry.</h2>
                <p>It’s okay to have questions, we have the answers.
                  <br>
                  Whether you’re a member who wants popular gift ideas or a guest who’s trying to find the perfect item in your budget, we can help! 
                  </br>
                  <br>
                  We want your Registry experience to be easy and enjoyable. That’s why we’re here to assist you.
                  </br>
                  <br>
                  Tel: 555-885-7851
                </p>  
     </div>         
</div>
  
   <!-- Contact Info -->
   <div class="contuctus-cont">
  <div style="text-align:center">
    <p>Leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="./images/building.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>