<form action="" class="form2">
  <p id="cardschoice">Contact Us</p>

</form>

<div class="image-container">
               
    <img src="./images/customer-support-banner.jpg">
     <div class="contact-us">
                <h2>Baby Shower Registry</h2>
                <p>Get one step closer to meet your baby</p>           
</div>
  