<form class="form">
<!--registry name input-->
<div class="field">
  <label class="label">Registry Name</label>
  <div class="control">
    <input class="input" id="registry-name" type="text" placeholder="Name">
  </div>
</div>
<!--registry adress input-->
<div class="field">
  <label class="label">Where to send your gifts?</label>
  <div class="control">
    <input class="input" id="autocomplete" onfocus="initAutocomplete()"  type="text" placeholder="Address">
  </div>
</div>
<div class="buttons is-pulled-right">
        <button class="button" id="next">Next</button>
    </div>
</form>