<form class="form">
<!--registry name input-->
<div class="field">
  <label class="label">Registry Name</label>
  <div class="control">
    <input class="input" id="registry-name" type="text" placeholder="Name">
  </div>
</div>
<!--registry adress input-->
<div class="field">
  <label class="label">Where to send your gits?</label>
  <div class="control">
    <input class="input" id="registry-address" type="text" placeholder="Name">
  </div>
</div>
</form>