<form class="form">
  <div class="box registry-box">
 <div class="columns">
   <div class="column">
     <h1> Baby on the way <!--delete this text and inseart value from input in create-registry.handlebars id  #registry-name --> registry</h1>
     <h2> 09/18/2021 <!--delete this text and inseart value from input in create-registry.handlebars id  #registry-date --> </h2>
     <div class="buttons">
  <button class="button">Add item</button>
  <button class="button">Edit Registry</button>
  <button class="button">Delete Registry</button>
</div>
   </div>
 </div>
</div>
     <div class="columns">
       <div class="column">
 <div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add new item</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
        <div class="field">
          <label class="label">Item Name</label>
          <div class="control">
            <input name="item-name" class="input"  placeholder="e.g. Gift Card">
          </div>
        </div>
      
        <div class="field">
          <label class="label">Item URL</label>
          <div class="control">
            <input name="item-url" class="input"  placeholder="http://getgifcard.com">
          </div>
        </div>
    </section>
    <footer class="modal-card-foot">
      <button id="add-item" class="button btn">Add item</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
       </div>       
</div>
<div class="columns">
  <div class="column">
    {{#if items.length}}
    <section>
             <h2 class="has-text-weight-medium is-size-5">Registry List</h2>
                <ol>
                  {{#each items as |item|}} 
                  <li>
                        {{> item-data item}}
                        <a  href="/dashboard/edit/{{item.id}}" class="button is-danger"> Edit Item</a>
                    </li>
                    {{/each}}
                    </ol>
                    </section>
            {{/if}}
  </div>
</div>
</form>

<script src="/javascript/add-item.js"></script>