<!--hero-->
<div class="slider">
  <div class="slide current">
    <div class="content-home">
      <div>
        <h1>Wedding <br> Registry</h1>
        <p>
          Start planing your big day <br> today 
        </p>
      </div>
      <div class="buttons-home">
        <a id="create-reg" class="slides-btn " href="/choose-category/">Create Registry</a>
        <a id="view-reg" class="slides-btn " href="/registries/">View Registry</a>
      </div>
    </div>

  </div>
  <div class="slide">
    <div class="content-home">
      <div>
        <h1>Baby <br> Registry</h1>
        <p>
          Get one step closer <br> to meet your baby <br>
        </p>
      </div>
      <div class="buttons-home">
        <a id="create-reg" class="slides-btn " href="/choose-category/">Create Registry</a>
        <a id="view-reg" class="slides-btn " href="/registries/">View Registry</a>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="content-home">
      <div>
        <h1>Birthday <br> Wishlist</h1>
        <p>
          Let your wishes become true with <br> birthday wishlist
        </p>
      </div>
      <div class="buttons-home">
        <a id="create-reg" class="slides-btn " href="/choose-category/">Create Registry</a>
        <a id="view-reg" class="slides-btn " href="/registries/">View Registry</a>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="content-home">
      <div>
        <h1>Secret <br> Santa</h1>
        <p>
          Share the holliday spirit with<br> your friends or coworkers
        </p>
      </div>
      <div class="buttons-home">
        <a id="create-reg" class="slides-btn " href="/choose-category/">Create Registry</a>
        <a id="view-reg" class="slides-btn " href="/registries/">View Registry</a>
      </div>
    </div>
  </div>
</div>

  <script src="/javascript/script.js"></script>