  {{>main-navigation}}

<!--hero-->
  <header>
    <div class="banner-area">
        <div class="single-banner">
            <div class="banner-img">
                <img src="./images/wedding.jpg" alt="wedding">
            </div>
            <div class="banner-text">
                <h2>Wedding Registry</h2>
                <p>Start planing your big day today</p>
                <p class="banner-btn"><a href="#">Create Registry</a> <a href="#">View Registry</a></p>
            </div>
        </div>
        <div class="single-banner">
            <div class="banner-img">
                <img src="./images/babyshower.jpg" alt="babyshower">
            </div>
            <div class="banner-text">
                <h2>Baby Shower Registry</h2>
                <p>Get one step closer to meet your baby</p>
                <p class="banner-btn"><a href="#">Create Registry</a> <a href="#">View Registry</a></p>
            </div>
        </div>
        <div class="single-banner">
            <div class="banner-img">
                <img src="./images/birthday.jpg" alt="birthday">
            </div>
            <div class="banner-text">
                <h2>Birthday Wishlist</h2>
                <p>Let your wishes become true with birthday wishlist</p>
                <p class="banner-btn"><a href="#">Create Registry</a> <a href="#">View Registry</a></p>
            </div>
        </div>
        <div class="single-banner">
            <div class="banner-img">
                <img src="./images/christmas.png" alt="christmas">
            </div>
            <div class="banner-text">
                <h2>Secret Santa</h2>
                <p>Share the holliday spirit with your friends or coworkers</p>
                <p class="banner-btn"><a href="#">Create Registry</a> <a href="#">View Registry</a></p>
            </div>
        </div>
    </div>
</header>


    