<form>
    <figure class="image ideas-hero">
  <img src="../images/ideas.JPG" alt="Girl throwing confetti">
  <div class="centered is-size-1  mt-6">NEED AN INSPIRATION?</div>
</figure>

<div class="columns">
    <div class="column">

    </div>
</div>
</form>