<form>
  <figure class="image ideas-hero">
    <img src="../images/ideas.JPG" alt="Girl throwing confetti">
    <div class="centered is-size-1  mt-6">NEED AN INSPIRATION?</div>
  </figure>

  <div class="columns baby-row">
    <!--card 1-baby -->
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-128x128">
            <a href="https://www.thebump.com/a/checklist-baby-essentials?fbclid=IwAR3D_LAhPDUjUl4Ky1e67CZnmC7AivvWr9P18TmljaOAgfUIJB-MCGCIs5w" target="_blank">
              <img src="../images/baby-row-1.jpg" alt="baby essentials"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-4">Your Ultimate Checklist of Baby Essentials</p>
        </div>
      </div>
    </div>
     <!--card 2-baby -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-128x128">
            <a href="https://mommyhood101.com/baby-essentials?fbclid=IwAR0xpqnk7YjiCPFrfD7ElAkuZRWn6BRKGLcS2x4hWld9pBbcGjZFL1OSB3s" target="_blank">
              <img src="../images/baby-row-2.JPG" alt="baby clothes"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-4">50 Baby Essentials for New Parents</p>
        </div>
      </div>
    </div>
    <!--card 3-baby -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image is-128x128">
            <a href="https://momlovesbest.com/nursery-decor-ideas?fbclid=IwAR0Kj23qfGp9HFeBwatql4tAgWiyB3-qNExPhSz_UYgGF48pRmzIlp8orAI" target="_blank">
              <img src="../images/baby-row-3.jpg" alt="baby clothes"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-4">Nursery Decor Ideas</p>
        </div>
      </div>
    </div>
    <div class="column">
      <figure class="image ideas-hero">
        <img src="../images/baby-row.jpg" alt="Stork carrying baby">
        <div class="centered is-size-1  mt-6">Baby</div>
      </figure>

    </div>
  </div>
</form>