<form>
  <figure class="image ideas-hero">
    <img src="../images/ideas.JPG" alt="Girl throwing confetti">
    <div class="centered is-size-1 is-size-5-mobile ideas-text">NEED AN INSPIRATION?</div>
  </figure>

  <div class="columns baby-row">
    <!--BABY ROW-->
    <!--card 1-baby -->
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://www.thebump.com/a/checklist-baby-essentials?fbclid=IwAR3D_LAhPDUjUl4Ky1e67CZnmC7AivvWr9P18TmljaOAgfUIJB-MCGCIs5w" target="_blank">
              <img src="../images/baby-row-1.jpg" alt="baby essentials"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">Your Ultimate Checklist of Baby Essentials</p>
        </div>
      </div>
    </div>
     <!--card 2-baby -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://mommyhood101.com/baby-essentials?fbclid=IwAR0xpqnk7YjiCPFrfD7ElAkuZRWn6BRKGLcS2x4hWld9pBbcGjZFL1OSB3s" target="_blank">
              <img src="../images/baby-row-2.JPG" alt="baby clothes"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">50 Baby Essentials for New Parents</p>
        </div>
      </div>
    </div>
    <!--card 3-baby -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://momlovesbest.com/nursery-decor-ideas?fbclid=IwAR0Kj23qfGp9HFeBwatql4tAgWiyB3-qNExPhSz_UYgGF48pRmzIlp8orAI" target="_blank">
              <img src="../images/baby-row-3.jpg" alt="baby clothes"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">Nursery Decor Ideas</p>
        </div>
      </div>
    </div>
    <div class="column">
      <figure class="image ideas-hero">
        <img id="hide" src="../images/baby-row.jpg" alt="Stork carrying baby">
        <div class="centered title is-size-1  mt-6">Baby</div>
      </figure>

    </div>
  </div>

<div class="columns wedding-row">
  <!--WEDDING ROW-->
  <div class="column">
      <figure class="image ideas-hero">
        <img id="hide" src="../images/wedding-row.jpg" alt="Bride and Groom">
        <div class="centered title is-size-1  mt-6">Wedding</div>
      </figure>
    </div>
    <!--card 1-wedding -->
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://www.brides.com/wedding-registry-checklist-5095831" target="_blank">
              <img src="../images/wedding-row-1.png" alt="wedding registry essentials"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">The Ultimate Wedding Registry Checklist</p>
        </div>
      </div>
    </div>
     <!--card 2-wedding -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://www.zola.com/expert-advice/wedding-registry-ideas?fbclid=IwAR01he0-fo1ETC-QBy0eNzpKzD7Wi0XcNTy2r_DzYvpNY3Tu6_la-OZGlPY" target="_blank">
              <img src="../images/wedding-row-2.png" alt="wedding registry essentials"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">Top 130 Wedding Registry Ideas for 2021</p>
        </div>
      </div>
    </div>
    <!--card 3-wedding -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://www.townandcountrymag.com/leisure/travel-guide/g27226930/best-honeymoon-destinations/?fbclid=IwAR2a2CSyn9ckEkH8GJfjluC5tchtHvKJC6qCf4ZesDWzFgIdKh67q1Prjxk" target="_blank">
              <img src="../images/wedding-row-3.png" alt="car with Just married sign"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">The Top 40 Honeymoon Destinations for 2021</p>
        </div>
      </div>
    </div>
    
  </div>
  </div>

  <div class="columns birthday-row">
  <!--BIRTHDAY ROW-->
    <!--card 1-birthday-->
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://www.esquire.com/lifestyle/g29871898/top-gifts-for-men/?utm_source=google&utm_medium=cpc&utm_campaign=arb_ga_esq_m_bm_g29871898&gclid=CjwKCAjw3_KIBhA2EiwAaAAliiX3dAhCUTAn9U7PA0dQgKJatAwbOGhltA5USxg1JOBBVdS6-d5CORoC8esQAvD_BwE&fbclid=IwAR01he0-fo1ETC-QBy0eNzpKzD7Wi0XcNTy2r_DzYvpNY3Tu6_la-OZGlPY" target="_blank">
              <img src="../images/birthday-row-1.png" alt="gifts for men"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">The 48 Best Gifts for Men</p>
        </div>
      </div>
    </div>
     <!--card 2-birthday -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://amp.usatoday.com/amp/107666244?fbclid=IwAR0KPXc4HlGt4dR65C1kU5DTldTi4wQYsD8x2sMAiB1kaw8LBmyyAFYInaU" target="_blank">
              <img src="../images/birthday-row-2.jpg" alt="gifts for woman"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">50 amazing gifts for woman</p>
        </div>
      </div>
    </div>
    <!--card 3-birthday -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://nymag.com/strategist/amp/article/best-friend-gift-ideas.html?fbclid=IwAR3JNPNlXY0CufaAH-myS6bOK0bmUh9zSVEuhVI_R_CbZIsB-3yPuD7IYD4" target="_blank">
              <img src="../images/birthday-row-3.jpg" alt="birthday card"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">A Gift for Every Type of Best Friend</p>
        </div>
      </div>
    </div>

      <div class="column">
      <figure class="image ideas-hero">
        <img id="hide" src="../images/birthday-row.JPG" alt="Slice of Birthday cake">
        <div class="centered title is-size-1 mt-6">Birthday</div>
      </figure>
    </div>
    
  </div>
  </div>

   <div class="columns christmas-row">
  <!--CHRISTMAS ROW-->
  <div class="column">
      <figure class="image ideas-hero">
        <img id="hide" src="../images/christmas-row.png" alt="Santa Clous">
        <div class="centered title is-size-1 mt-6">Christmas</div>
      </figure>
    </div>
    <!--card 1-christmas-->
    <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://spy.com/articles/lifestyle/gifts/holiday-gift-guide-best-christmas-gifts-141981/amp/?fbclid=IwAR1763_UaVdUmxxelSo6NbimWIu5h4R-j2Poar0RGEbPGK6-WnJzHWbkJ0Q" target="_blank">
              <img src="../images/christmas-row-1.png" alt="christmas gifts"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">The Best Christmas Gifts for 2021</p>
        </div>
      </div>
    </div>
     <!--card 2-christmas -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://www.bestproducts.com/lifestyle/g376/top-christmas-gift-ideas/?fbclid=IwAR0KPXc4HlGt4dR65C1kU5DTldTi4wQYsD8x2sMAiB1kaw8LBmyyAFYInaU" target="_blank">
              <img src="../images/christmas-row-2.jpg" alt="christmas gifts"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6"> 70+ CHRISTMAS GIFT IDEAS</p>
        </div>
      </div>
    </div>
    <!--card 3-christmas -->
       <div class="column">
      <div class="card">
        <div class="card-image">
          <figure class="image idea-image is-2by1">
            <a href="https://www.gathered.how/arts-crafts/christmas-trends/?fbclid=IwAR1TDsWYv1XWoMxnYiAeFDJwgzQSIDWj9jPYze8ndpTFLth0bgPiyH_CRlU" target="_blank">
              <img src="../images/christmas-row-3.jpg" alt="christmas cookies"></a>
          </figure>
        </div>
        <div class="card-content">
              <p class="title is-6">15 Christmas trends for 2021</p>
        </div>
      </div>
    </div>    
  </div>
  </div>
</form>