 {{>alert}}
<form class="form login-form">
    <p id="form-text">Welcome back! Please log in into your account.</p>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" id="username-login" placeholder="Username">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="password" id="password-login" placeholder="Password">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="buttons">
        <button class="button" id="login">Login</button>
    </div>
</form>
<form class="form">
    <p id="form-text">Don't have an account? Sign up here.</p>
    <div class="buttons">
        <button class="button" id="signup">Sign Up</button>
    </div>
</form>

{{!-- add front-end --}}
<script src="/javascript/script.js"></script>
<script src="/javascript/login.js"></script>

