<form>
     <div class="columns">
         <div class="column is-one-fifth"></div>
         <div class="column item-form">
             <div>
                 
             </div>
    <form class="box">
        <div class="field">
          <label class="label">Item Name</label>
          <div class="control">
            <input class="input" type="email" placeholder="e.g. Gift Card">
          </div>
        </div>
      
        <div class="field">
          <label class="label">Website link</label>
          <div class="control">
            <input class="input" type="password" placeholder="http://getgifcard.com">
          </div>
        </div>
      
        <button class="button btn">Add Item</button>
      </form>
    </div>
    <div class="column is-one-fifth"></div>
</div>
</form>