<section>

    {{#if registries.length}}
    <h2> All registries </h2>

    <ul>
        {{#each registries }}
        <li>
            {{>registry-info}}
        </li>
        {{/each}}
    </ul>

    {{/if}}
    {{#if registry}}
    <h2> Single registry by title</h2>
    {{>registry-info registry}}
    {{/if}}

</section>