<section>
    <h2>
        New Registries
    </h2>
    <ul>
        {{#each registries as |registry}}
        <li>
            {{>registry-info}}
        </li>
        {{/each}}
    </ul>
    
</section>