<div class="panel" style="margin-top:100px;">
    <p class="panel-heading">
        All registries
    </p>
    <div class="panel-block has-addons is-centered">
        <p class="control has-icons-left is-expanded">
            <input class="input" id="reg-search" type="text" placeholder="Search">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </p>
        <div class="control">
            <button type="submit" class="button is-danger" id="reg-search-btn">Search</button>
        </div>
    </div>
    <p class="panel-tabs">
        <a href="/registries/" class="is-active" id="all">All</a>
        <a href="/registries/wedding-registries" id="wed">Wedding</a>
        <a href="/registries/birthday-registries" id="bday">Birthday</a>
        <a href="/registries/baby-shower-registries" id="bshower">Baby Shower</a>
        <a href="/registries/xmas-registries" id="xmas">Secret Santa</a>
    </p>
    {{#if registries.length}}
    {{#each registries }}
    <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        {{>all-registries-view}}
    </a>
    {{/each}}


    {{else}}
    <a class="panel-block">
        <span class="panel-icon">
            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
           No Registries found with this name. Try again  
        <span class="panel-icon">
            <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
        </span>
    </a>
    
    {{/if}}
    <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth">
            Reset all filters
        </button>
    </div>
</div>

{{>footer}}

<script src="/javascript/registries-page.js"></script>