<form class="form signup-form">
    <p id="form-text"> Please enter your information to sign up.</p>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Username"
            id="username-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email"
            id="email-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password"
            id="password-signup">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>
    <div class="buttons">
        <button class="button" id="signup">Sign Up</button>
    </div>
    </form>
    <form class="form">
    <p id="form-text">Already have an account? Login here.</p>
    <div class="buttons">
        <button class="button" id="login">Login</button>
    </div>
</form>
{{!-- connecting front-end --}}
<script src="/javascript/signup.js"></script>
