* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Prata', serif;
}

header {
    width: 100vw;
    background: black;
    overflow: hidden;
}

nav {
    margin: auto;
    padding: 0.7rem;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(188, 143, 143, 0.5);
}

.navbar {
    background-color: rgb(188, 143, 143, 0.9);
}

.form {
    padding: 5rem 35rem;
}

.form2 {
    padding: 5rem 25rem;
}

.form3 {
    padding-top: 10rem;
    padding-left: 35rem;
    padding-right: 35rem;
}

#form-text {
    padding: 1rem;
}

.logo {
    width: 20%;
    float: left;
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Style Script', cursive;
}

.menu {
    width: 80%;
    float: right;
}

.menu ul {
    float: right;
    list-style: none;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

#login, #signup, #logout, #next, #login-redirect, #signup-redirect, #update-profile, #delete-profile, #submit-profile, .btn {
    display: inline-block;
    color: #fff;
    background-color: crimson;
    padding: 5px 15px;
    border: none;
    font-size: 1rem;
}

.banner-area, .single-banner {
    height: 100vh;
}

.single-banner {
    position: relative;
}

.single-banner .banner-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner-img img {
    width: 100%;
    height: 100vh;
    opacity: 0.6;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text h2 {
    font-size: 55px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

.banner-text p {
    color: #fff;
}

.banner-btn a {
    text-decoration: none;
    background: crimson;
    color: #fff;
    padding: 15px 25px;
    display: inline-block;
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    position: relative;
    background-color: #fff;
    opacity: .25;
    width: 50px;
    height: 3px;
    padding: 0;
    font-size: 0;
}

.slick-dots li.slick-active button {
    color: #fff;
    opacity: .75;
}

#cardschoice {
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

/* profile page */

.form-profile {
    margin-left: 10rem;
    /* display: none; */
}

#delete-profile {
    float: right;
    clear: both;
}

/* profile ends */

/* Style the container/contact section */

/* Create two columns that float next to eachother */

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.contuctus-cont {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fbeaea;
    padding: 10px;
}

/* dashboard page */

.registry-box {
    background-color: rgb(255, 249, 251);
    margin-top: 4rem;
    height: 95%;
}

.btn-dashboard {
    background-color: rgb(177, 152, 157);
}

.item-list-box {
    text-align: center;
    margin-top: 4rem;
    height: 95%;
}

.item-list-panel {
    background-color: rgba(238, 245, 251, 0.671);
}

.item-list-panel-block {
height:4rem;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}